@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@mixin mobile-landscape{
  @media only screen and (min-width: 568px){
    @content;
  }
}

@mixin tablet{
  @media only screen and (min-width:768px){
    @content;
  }
}

@mixin desktop-landscape{
  @media only screen and (min-width: 1200px){
    @content;
  }
}
@mixin mobile-decide{
  @media only screen and (min-width:1000px){
    @content;
  }
}

@mixin desktop-large{
  @media only screen and (min-width: 1800px){
    @content;
  }
}

$primary: rgb(1, 52, 84);
$secondary:#d77947;
$shadow:black;

// $primary: #c15c26;
// $secondary:rgb(1, 52, 84);

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: poppins, monospace;
/*   background: white; */
  font-size: 18px;
}
html{
  scroll-behavior: smooth;
  // overflow: hidden;
}
body{
  // overflow: hidden;
  // position: relative;
  background: #fff;
  #view{

    padding: 10%;
    // padding: 20% !important;

    @include tablet{
      padding: 23% !important;
    }

    @include mobile-landscape{
      display: none;
    }

    @include desktop-landscape{
      display: none;
    }
  }
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 17px 15px;
  overflow: hidden;
  box-shadow: 1px 0px 8px black;
  background-color: $primary;
  color: $secondary;
  text-shadow: 2px 2px 8px $shadow;
  box-shadow: 0px 5px 8px $shadow;
  position: relative;


  #ham{

    display: none;

    @include mobile-landscape{
      display: none;
    }

    .div1 , .div2 , .div3{
      background: black;
      height:3px;
      width: 20px;
      margin: 2px 0px;
      border-radius: 15px;
      box-shadow: 1px 0px 2px black;
    }
  }

  .wrapper{

    overflow: hidden !important;

    #slider{
      background: $primary;
      color: $secondary;
      // position: fixed;
      // top: 0;
      // bottom:0;
      // right: 0;
      // width: 0;
      // padding: 20px 0px;
      // transition: 0.2s ease;
      // z-index: 10;

      width: 100% !important;
      position: static;
      padding: unset;
      transition: unset;

      @include mobile-landscape{
        width: 100% !important;
        position: static;
        padding: unset;
        transition: unset;

      }

      #cross{
        padding: 0 0 0 80%;
        margin-bottom: 10px;

        display: none;

        @include mobile-landscape{
          display: none;

        }

        .cross-flex{
          margin-right: 10px;

          .cross-div1, .cross-div2{
            background: white;
            height:3px;
            width: 20px;
            margin: 2px 0px;
            border-radius: 15px;
            box-shadow: 1px 0px 2px white;
          }
          .cross-div1{
            transform: rotate(45deg) translate(3px , 3px);
          }
          .cross-div2{
            transform: rotate(-45deg);
          }
        }

      }
      ul{
        // margin-top: 54px;

        @include mobile-landscape{
          margin-top: unset;
          background: $primary;
        }

        li{
          list-style: none;
          text-align: center;
          margin:10px;
          // background: #212121;
          // padding: 4px;
          // border-radius: 50px;


          display: inline;
          background: inherit;
          color: #000;
          margin: 0 10px;
          padding: unset;

          @include mobile-landscape{
            display: inline;
            background: inherit;
            color: #000;
            margin: 0 10px;
            padding: unset;
          }

          a{
            text-decoration: none;
            color: $secondary;
            text-shadow: 2px 2px 8px $shadow;

            @include mobile-landscape{
              color: $secondary;
            }
          }
        }
      }
    }
  }
}

header{
  margin: 0px 0 0px 0;
  padding: 45px 0 55px 0;
  width: 100%;
  background-color: $primary;
  color: $secondary;
  text-shadow: 2px 2px 8px $shadow;

  @include mobile-landscape{
    margin: 0px 0 0px 0;
  }

  @include tablet{
    margin: 0px 0 0px 0;
    padding: 10%;
  }
  @include desktop-landscape{
    width: 100%;
    margin: 0px 0 20px 0;
    padding-left: 10%;
  }

  h1{
    text-align: center;
    padding: 20px 27px 0px;
    margin:20px 10px 0px 10px;
    width: 85%;
    margin-left: 8%;
    font-size: 25px;

    @include mobile-landscape{
      width: 75%;
      margin-left: 12%;
    }
    @include tablet{
      width: 65%;
      margin-left: 17%;
    }
  }
  p{
    text-align: center;
    margin: 10px ;
  }
  .hr{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    hr{
      width: 60%;
      margin-top: 20px;
      background: black;

      @include tablet{
        width: 52%;
      }

      @include mobile-decide{
        width: 40%;
      }
      @include desktop-landscape{
        width: 57%;
      }
    }
  }
}


main{

  margin: -10px  0 0 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  background-color: $secondary;
  transform:skewY(-2deg);

  @include tablet{
    margin-top: -30px;
   }
 
   @include desktop-landscape(){
    margin-top: -60px;
    padding-top: 60px;
    padding-bottom: 100px;
   }
   .main-wrapper{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 15px;
     transform:skewY(2deg);

     @include mobile-landscape{
       grid-gap: 30px;
      //  margin-top: -30px;
     }

     

     @include desktop-landscape{
       grid-gap: 44px;
       margin-top: -20px;
     }
     .column1, .column2{
       display: grid;
       grid-template-rows: repeat(2, 1fr);
     }

     .column1{
       margin-top: 60px;
       img{
          margin:15px 0 0 0 ;

          @include mobile-landscape{
          margin: 30px 0 0 0 ;
          }
       }
     }

     .column2{
       .col2-1{
         margin-top: 30px;
       }
       img{
         // margin: 17px 0;
       }
     }

     img{
       width:112px;
       margin: 5px 2px ;
       box-shadow: 0px 0px 8px black;
       // border-radius:5px;
       // border:solid white 15px;

       @include desktop-landscape{
         width: 150px;
       }
     }
   }

   
}

footer{
  color: #fff;
  background-color: $primary;
  margin-top: -10px;
  padding-top: 20px;
  position: relative;
  // transform:skewY(-2deg);
  text-align: center;

  @include mobile-landscape{
    margin-top: -30px;
    padding-top: 20px;
   }

   p{
    //  display: none;
    //  text-align: center;
     color: $secondary;
     text-shadow: 0px 2px 8px $shadow;
   }


  .footer-div1{
    background: $primary;
      padding:  0 20px 20px 0;
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // display: flex;
      justify-content: space-around;
      // transform:skewY(2deg);

      a{
        color: $secondary;
        display: block;
        text-decoration: none;
        text-shadow: 0px 2px 8px $shadow;
        img{
          background: #fff;
          width: 15px;
          border-radius: 5px;
        }
      }
  }
  .footer-div2{
    display: flex;
    color: black;
    justify-content: center;
    padding: 10px;
    background-color: $secondary;
    // transform:skewY(2deg);

    a{
      // color:#484545;
      color: $primary;
      text-shadow: 0px 0px 2px $shadow;
    }
  }
}
